.yv-form {
    --yv-form-label-font-size: var(--yv-font-size-base);
  }
  .yv-form-item {
    display: flex;
    --font-size: 14px;
    margin-bottom: 18px;
    .yv-form-item__label {
      display: inline-flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 0 0 auto;
      font-size: var(--yv-form-label-font-size);
      color: var(--yv-text-color-regular);
      height: 32px;
      line-height: 32px;
      padding: 0 12px 0 0;
      box-sizing: border-box;
      width: 150px;
    }
    .yv-form-item__content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex: 1;
      line-height: 32px;
      position: relative;
      font-size: var(--font-size);
      min-width: 0;
    }
    .yv-form-item__error-msg {
      padding-top: 2px;
      color: var(--yv-color-danger);
      font-size: 12px;
      line-height: 1;
      padding-top: 2px;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  
  .yv-form-item.is-error .yv-input__wrapper {
    box-shadow: 0 0 0 1px var(--yv-color-danger) inset;
  }
  .yv-form-item.is-success .yv-input__wrapper {
    box-shadow: 0 0 0 1px var(--yv-color-success) inset;
  }
  .yv-form-item.is-required > .yv-form-item__label:before {
    content: "*";
    color: var(--yv-color-danger); 
    margin-right: 4px;
  }